@import url("https://use.typekit.net/tcn4pid.css");
@font-face {
  font-family: freight-big-pro;

  src: url(https://use.typekit.net/tcn4pid.css);
}

/* shopify start css */

/* .header-wrapper { 
  position: fixed;
  background-color: transparent;
  width: 100%;
} */

.header__icon, .header__icon--cart .icon { 
  font-size: 18px;
}
.header__icon {
  color: #fff;
}
.usericon{background: rgb(255 255 255 / 82%);
  padding: 6px;
  border-radius: 50px;}


  .menuicon{font-size: 12px;
  color: #fff;
  float: left;
  display: inline-block;}
  .menuicon p {
    font-size: 14px;
    color: #fff;
    padding: 0 8px;
}

.menuicon {
  margin: 0 0 0 28px;
}
.header__heading-logo {
  max-width: 120px!important;
}

header-drawer {
  display: block!important;
}
.footer-div {
  background-image: url(footer-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 0!important;
  border: 0px;
}
.niles-pic{
  background-image: url(NM-footer-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: brightness(0.9);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: block!important;
}
.stay-connect h6 {
  color: #000;
  font-family: freight-big-pro;
  font-size: 18px;
  line-height: 26px;
}
.hr-line {
  color: #000;
  opacity: 1;
  width: 85%;
  margin: 25px 0;
}
.social-icon a {
  font-size: 23px;
  color: #000;
  padding: 0 10px;
}
.footer {
  border-top: 0rem solid rgba(var(--color-foreground), 0.08);
}
.stay-connect {
  padding: 0 0 20px 10px;
}
.get-latest {
  font-weight: 200;
 padding: 3px 30px 30px 30px; 
  font-size: 27px;
  font-family: freight-big-pro;
}
.footer-block__details-content .list-menu__item--link {
  font-family: freight-big-pro;
  font-size: 20px!important;
  line-height: 20px;
  color: #000!important;
}
h2.footer-block__heading { 
  display: none;
}
.footer-div .footer__content-top {
  padding-bottom: 0;
  display: block;
}
.footerheading {
  font-size: 34px;
  font-family: freight-big-pro;
  text-align: left;
  padding: 0 0 45px 0;
}
.foot-container{
  width: 100%;
}
.footer {
  margin-top: 0!important;
  border: none!important;
}
header-drawer { 
  margin-left: 0!important;
}
.link, .customer a{  text-decoration: none!important;}
header-drawer p {
  font-size: 16px;
  color: #fff;
  margin: -2px 0 0 70px;
  text-decoration: none;
}

header-drawer a { 
  text-decoration: none;
}
.store-logo img {
  padding: 10px 0px 10px 2px;
  width: 112px;
}
.mobile-view {
  margin-top: 70px; 
}
.search-field { 
  background-image: url(btb_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  position: relative;
}

.search-field span, input{height: 35px;}
.search-field #basic-addon1{
  background: transparent;
  border-right: 0px;
  padding-right: 0px;

}
.search-field input {
  background: transparent;
  color: #fff;
  font-size: 13px;
  border: 0;
  padding: 0 10px 0 45px;
  width: 100%;
}
.search-field input:focus{
  background: transparent;
  color: #fff;
  outline: none;
  box-shadow: none
  /* border-left: 0px; */
}
.header__icon, .header__icon--cart .icon {
  height: 4.7rem!important;
  width: 4.7rem!important; 
}
/* .header-wrapper--border-bottom {
  border-bottom: none;
}
 */

.search__button .icon { 
  color: #fff;
}
.search__button {
  right: auto;
  top: -4px;
}
.section-template--14423363485765__16551922780cf3b2db-padding {
 
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 2%;
  margin: auto;
  color: #fff;
  width: 60%;
  font-size: 40px;
  text-align: center;
  font-family: freight-big-pro;
  background-color: transparent;
}


.section-template--14423363485765__16551922780cf3b2db-padding h2{
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: freight-big-pro;

}

.section-template--14423363485765__16551922780cf3b2db-padding a{
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 30px;
  display: inline-block;
  font-family: sans-serif;

}

.section-template--14423363485765__16551922780cf3b2db-padding p{
  font-size: 45px;
    text-align: center;
    color: #fee479;
    font-family: freight-big-pro;
    padding: 0;
    margin: 0;
    line-height: 30px;

}

.section-template--14423363485765__16551922780cf3b2db-padding .rich-text__buttons a {
  background-image: url(btb_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 30px;
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 0 0 0;
}

.menu-drawer {
  width: 40rem;
  left: auto;
  right: 0;
  top: 0;
  transform: translateX(100%);
  -webkit-box-shadow: -10px 0 30px 0 rgb(0 0 0 / 50%);
    box-shadow: -10px 0 30px 0 rgb(0 0 0 / 50%);
    background-color: #6e5f4f;
}

.menu-drawer__menu li a { 
  font-size: 20px;
  color: #d5cba4; 
}

.section-template--14423363485765__16551901340edfbe4e-padding .video-section__media {
  position: relative;
  padding-bottom: 56.25%!important;
}
.header-wrapper {
  width: 100%;
  background: url(header_bg1.jpg) 0% 0% / cover;
}
/* header menu start */
/* .innerpagelayout {
  margin: 162px 0 0 0;
} */
.header-wrapper { 
  z-index: 9;
}

nav.header__inline-menu {
  background: #e1680f;
  text-align: center; 
}
/* header menu end */

/*categories section*/
  .categoriesContainer {
  background: url(background_1.png);
  width: 100%; 
  background-size: cover;
  }
  .categoriesContainer .title--primary {
    font-size: 50px;
    text-align: left;
    color: #000;
    font-family: freight-big-pro!important;
    margin: 40px 0 40px 0;
}
.categoriesContainer .collection-list .collection-list__item .card__media .media img {
  height: auto;
  object-fit: initial;
  object-position: right;
  width: auto;
}
.categoriesContainer .card__content {
  width: 50%!important;
  float: left;
  padding: 30px 30px 0 30px!important;
}
.collection-list .collection-list__item .card {
  background-image: url(categories_bg.png)!important;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  background: #cb6f4f;
  padding: 50px 30px;
  height: auto!important;
  border-radius: 0!important;
  margin: 0px!important;
  display: inline-block;
  border: none;
}

.collection-list .collection-list__item .card__inner {
    width: 50%;
    float: right;
    background: transparent;
    position: relative;
    top: 25px;
    right: 10px;
}
.collection-list .collection-list__item .card__heading a{
  font-size: 30px;
  text-align: left;
  color: #fff;
  font-family: freight-big-pro!important; 
}

.collection-list li:nth-child(1) .card {
  background: #287246;
}
   
.collection-list li:nth-child(odd) .card { background-color:#a64b2b; }
.collection-list li:nth-child(even) .card { background-color: #23653f; }
.collection-list li:nth-child(3n) .card { background-color: #48302b; }
.collection-list li:nth-child(4n) .card { background-color: #b18822; }
.collection-list li:nth-child(5n) .card { background-color: #2a343b; }
.collection-list li:nth-child(6n) .card { background-color: #783a39; } 
 
.btn1 {
  display: inline-block;
  font-size: 15px;
  background-image: url(btb_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  padding: 8px 20px;
  margin: 20px 0 0 0;
}
.btn1:hover{
  background: #000;
}
.collection-list .collection-list__item .card__heading a:hover .btn1{
  background: #000;
}

/* product start */
.productBanner .collection-hero__description {
  max-width: 100%;  width: 100%;
}
.productBanner .collection-hero__description img{
  max-width: 100%;  width: 100%;
}
.product-grid-container {
  background: url(background_1.png);
  width: 100%; 
  background-size: cover;
}

.product-grid .card__inner {
  background-image: url(productframe_bg1.png)!important;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  background: transparent; 
}
.product-grid .card { 
  background-color: transparent; 
  border: 0px solid rgba(0,0,0,.125);
  border-radius: 0;    margin: 0 0 40px 0;
}
.product-grid .card__media {
  width: 50%;
  margin: 0 auto!important;
  text-align: center;
  left: 0;
  right: 0;
}
.product-grid .card__media .media img {
  height: auto;
  object-fit: initial;
  object-position: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 100px;
}
.product-grid .card__heading a {
  font-size: 25px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
  line-height: 28px;
  min-height: 60px;
  width: 85%;
}
.product-grid .price {
  font-size: 25px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
}
.product-grid .caption-with-letter-spacing {
  letter-spacing: 0;
  text-transform: inherit;
  font-size: 18px;
  text-align: left; 
  font-family: freight-big-pro!important;
  text-decoration: underline;
}
.product-grid .shortdescp p {
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
.product-grid .quick-add__submit {
  display: inline-block;
  font-size: 19px;
  background-image: url(addtocart.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: freight-big-pro;
  padding: 5px 19px!important;
  margin: 0;
  width: auto!important;
  border: 0!important;
  min-width: auto!important;
  background-color: transparent;
  text-transform: capitalize;
} 
.product-grid .card__content { 
  flex-grow: inherit;
}
.product-grid span.rating-star.color-icon-text {
  font-size: 19px;
  letter-spacing: 4px;
}
.collection-hero__title {
  margin:0px 0 10px 0!important;
  font-size: 50px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important; 
}
.card__information { 
  position: relative;
}

.shoplist{ position: absolute;
  right: 0;
  width: 20px;
  font-size: 20px;
  top: 20px;}

  .card-wrapper { 
    padding: 0 8px;
}
 
 .select {
  width: auto;
  background-image: url(input_bg1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  position: relative;
}

.facet-filters__field select {
  background: transparent;
  color: #000;
  font-size: 18px;
  border: 0;
  font-family: freight-big-pro;
  padding: 8px 25px;
  width: 100%;
}
.facet-filters__sort:focus-visible {
  outline: none;
  outline-offset: inherit;
  box-shadow: none;
}
.facet-filters__label label {
  font-size: 19px;
  font-family: freight-big-pro!important;
  display: none;
}
.product-count-vertical.light {
  opacity: 1;
  margin: 4px 20px;
}
h2.product-count__text.text-body {
  font-size: 19px;
  font-family: freight-big-pro!important;
  color: #000;
}
form#FacetSortForm {
  margin: 0 0 40px 0;
}
.facet-filters__sort + .icon-caret {
  right: 15px;
}
/* product end */

/* breadcrumb */
 
nav.breadcrumb {
  margin: 0;
  font-size: 18px;
  font-family: freight-big-pro!important;
}
nav.breadcrumb a {
  color: #000;
}
nav.breadcrumb span {
  padding: 0 4px;
}


/* filter product start */
aside { 
  height: auto!important;
  min-height: auto!important;
  width: auto!important;  
  position: relative!important;
  -webkit-transform: translateX(0)!important;
  -ms-transform: translateX(0)!important;
  transform: translateX(0)!important;
  color: #fff;
  background-color:transparent!important;
  z-index: 1!important;
  }
  .facet-filters__sort:focus-visible {
    outline: none!important;
    outline-offset: 0!important;
    box-shadow: none!important;
}

.facets__heading { 
  font-size: 25px!important;
  width: 100%;
  color: #000!important;
  font-family: freight-big-pro!important;
  margin: -1.5rem 2rem 10px 0!important;
}
.facets__summary {
  width: 145px;
  background-image: url(input_bg1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  position: relative;
  padding:8px 25px 8px 15px!important;
  font-size: 18px!important;
  color: #000!important;
}
.facets__disclosure {
  margin-right: 1rem!important;
}
.facets__summary .icon-caret {
  right: 15px!important;
}
.facet-filters {
  padding-left: 3rem;
  margin: 33px 0 0 0
}
.product-count { 
  display: none;
}
.facets__form { 
  margin-bottom: 25px!important;
  gap: 0 1rem!important;
}
.productcount {
  font-size: 20px;
  width: 100%;
  color: #000;
  font-family: freight-big-pro!important;
  margin: 0 0;
  padding: 0 0 20px 0;
}
/* filter product start */

/* side cart */
.drawer__inner {
  background-image: url(sidecart_Bg1.jpg)!important;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  padding: 30px 20px 30px 45px!important;
}
.drawer__heading {
  font-size: 26px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
}
.drawer__close svg {
  height: 1.7rem!important;
  width: 1.7rem!important;
}
.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
  display: none;
}
.cart-item__details a {
  font-size: 20px;
  color: #000;
  font-family: freight-big-pro!important;
  line-height: 20px;
}
.drawer__header { 
  background-color: transparent!important; 
}
.cart-drawer .cart-item__totals {
  pointer-events: inherit!important;display: block!important;
}

 
.cart-drawer .cart-item__image { 
  padding: 20px 15px 10px 15px;
  background-image: url(productframe_bg1.png)!important;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  background: transparent; 
}
.quantity__button {
  border: 1px solid#797979;
  width: 35px;
}
.quantity {
  min-height: auto;
  width: 100px;
  margin: 0 10px 0 0px;
}
.cart-item__price-wrapper span.price.price--end {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 9px 0;
}
.cart-drawer .cart-items td {
  padding-top: 0!important; 
}
.drawer__inner-empty { 
  background-color: transparent!important; 
}
.drawer__header { 
  padding: 1.5rem 0 4rem 0!important; 
}
.cart-drawer__footer {
  width: 50%;
  float: left;
}
.cart-drawer .cart-item { 
  margin-bottom: 20px!important;
}
.drawer__inner { 
  width: 45rem!important;}
  .baglist { 
    float: right;
}
.baglist span {
  font-size: 20px;
  float: right;
  padding: 0 8px 0 0;
}

.cart-item cart-remove-button {
  margin: 0.5rem 0 0 12px;
  float: right;
}
.cart-drawer .totals { 
  display: block;
}
.totals__subtotal-value {
  font-size: 20px!important;
  margin: 10px 0!important;
  color: #000;
  font-weight: 600;
}
.totals > h2 { 
  font-weight: 500;
}
.drawer__footer {
  background-color: transparent!important; 
  padding: 2.5rem 0 0 0!important;
}
.cart-drawer .cart__checkout-button {
  max-width: none;
  background-image: url(btb_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  position: relative; 
  background-color: #e1680f;
}
/* side cart */

/*  cart page */
.cartBg {
  width: 100%;
  background: url(background_1.png) 0% 0% / cover;
  display: block;
  float: left;
  padding:20px 0 40px 0;
}
.title-wrapper-with-link .title { 
  font-size: 40px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
}
.title-wrapper-with-link {
  margin:4rem 0 1.5rem 0;
}

.backbtn {
  padding: 0 0 50px 0;
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
}
.backbtn i.fal.fa-chevron-left {
  margin: 0 10px 0 0;
  font-size: 16px;
}
.cartList {
  width: 100%;
}
.cart-item .cart-item__quantity {
  padding-left: 0!important;
  padding-top: 15px;
}
#cart .cart-item__price-wrapper span.price.price--end {
  margin: 0;
  padding: 0;
}
.cart-items td { 
  padding-top: 0!important;
}
.cart-item__image-container { 
  background-image: url(productframe_bg1.png)!important;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  background: transparent;
  padding: 20px;
}
#cart .cart-item > td + td {
  padding-left: 2rem!important;
}
#cart .cart-item__quantity-wrapper {
  display: block;
  float: left;
}
#cart .cart-item { 
  margin: 0 0 40px 0;
  display: block;
}
.cartfooterpage {
  width: 50%;
  float: left;
  padding: 0 20px!important;
}

.cart__footer {
  background-image: url(categories_bg.png)!important;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 0!important;
  background-size: 100% 100%!important;
  background-position: center;
  background: #744c44;
  padding: 50px 30px;
  height: auto!important;
  border-radius: 0!important;
  margin: 0px!important;
  display: inline-block;
  border: none;
}
.cart__footer > div:only-child {
  margin-left: inherit!important;
  width: 100%;
  padding: 40px 60px;
}
.cart__footer {
  display: block!important;
  justify-content: initial!important;
  border: 0!important;   
  padding:50px 60px!important;
  margin:150px 0 0 0!important;
}
 
.avaiableofferwarp { 
  width: 100%!important;
}
.avaiableofferwarp h2 {
  font-size: 25px;
  text-align: left;
  color: #fff;
  font-family: freight-big-pro!important;
  padding: 0 0 15px 0;
}

.avaiableofferwarp ul li {
  font-size: 18px;
  text-align: left;
  color: #fff;
  font-family: freight-big-pro!important; 
}

.cartfooterpage .totals {
  justify-content: inherit;
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.cartfooterpage .totals > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.cartfooterpage .totals__subtotal-value {
  font-family: 'Poppins', sans-serif;
  font-size: 18px!important;
  color: #fff;
  font-weight: 500;
  margin: 0!important;
}
.cartleft{
  width: 50%;
  float: left; 
  padding: 0 36px 0 0!important;
}
hr.line1 {
  background-color: #ffffff;
  margin: 40px 0;
  opacity: 0.6;
}

.cartfooterpage .cart__blocks {
  margin: 0;
  padding: 0;
  width: 100%;
}
.cartfooterpage .cart__ctas button {
  width: auto;
  background-image: url(btb_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0;
  font-family: freight-big-pro;
  position: relative;
  background-color: #e1680f;
  font-size: 25px;
  padding: 10px 50px;
  margin: 35px auto 0px auto;
}

/* cart page */


/* PDP start */

.product__media{background-image: url(pdp_framebg1.png)!important;
width: 100%;
max-width: 100%;
background-repeat: no-repeat;
border-radius: 0!important;
background-size: 100% 100%!important;
background-position: center;
background: transparent;
height: 500px;
min-height: 500px;
}

.product__media img{padding: 100px;}

.product__title h1 {
  font-size: 35px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
  line-height: 35px;
  width: 85%;
}

.background_1 {
  width: 100%;
  background: url(background_2.png) 0% 0% / cover;
}
.creator_pdp{ }
.creator_pdp h3{    color: #000;
  font-family: freight-big-pro!important;}
  .creator_pdp p {
    color: #000;
    font-family: freight-big-pro!important;
    font-size: 16px;
    text-transform: capitalize!important;
}

  .creatorWrap h4 {
    color: #000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 20px 0 0 0;
}
.price .price-item {
  font-size: 28px;
  /* font-family: 'Poppins', sans-serif;*/
  font-weight: 500;
}

.quantity:before {
  background-image: url(addtocart.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: freight-big-pro;
  background-color: transparent;
  text-transform: capitalize;
  border: 0px !important;
}


.product-form__submit{display: inline-block;
  font-size: 19px;
  background-image: url(addtocart.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: freight-big-pro;
  margin: 0 10px 0 0px;
  background-color: transparent;
  text-transform: capitalize;
  padding: 5px 19px !important;
  width: auto !important;
  border: 0px !important;
  float: left;}
    .shopify-payment-button{ float: left;}
    .shopify-payment-button__button{display: inline-block;
      font-size: 19px!important;
      background-image: url(addtocart.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-family: freight-big-pro!important;
      color: #000!important;
      margin: 0 10px 0 0px;
      background-color: transparent!important;
      text-transform: capitalize;
      padding: 5px 19px !important;
      width: auto !important;
      border: 0px !important;
      float: left;}
      .product.product--small {
        margin: 30px 0 0 0;
    }
/* PDP end */

/* creator page start */
h1.page-title {
  margin: 10px 0!important;
  font-size: 50px;
  text-align: left;
  color: #000;
  font-family: freight-big-pro!important;
}
.product-collection {
  padding: 30px 0 0 0;}

  .product-collection li {
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
    width: 210px;
}
.product-collection li .product{
  text-align: center;
  position: relative;
  padding-bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f4b408;
  width: 210px;
  height: 210px;
  margin: 0 0 10px 0;
}
.product-collection li img{
   position: absolute; 
   width: 100%; 
   height: 100%; 
   top: 0; 
   left: 0; 
   object-fit: cover; 
  }
  .product-collection .product-title {
    font-size: 20px;
    color: #000;
    font-family: freight-big-pro!important;
    line-height: 20px;
    position: relative;
    top: 10px;
}
/* creator page end */


/* shopify end css */

/* responsive */

@media (min-width:320px) and (max-width:767px){
  .card__content {
    width: 100%!important;
    float: left;
    padding: 0px!important;
  }
  .collection-list .collection-list__item .card__inner {
    width: 85%;
    float: inherit; 
    position: relative;
    top: 10px;
    right: 0;
}
.collection-list .collection-list__item .card__heading a {
  font-size: 25px; 
  display: grid;
}
.btn1 { 
  text-align: center;
}
}

/* responsive end css */
