{% assign linklist = linklists["creators"] %}
{% assign collections_per_row = settings.frontpage_collections_per_row %}

<div class="twelve columns collection-list background_1">
<!-- custom banner -->
<div class="commonbanner">
  <div class="bannerImage"> 
  <img class="img-fluid" src="{{'creatorbanner.jpg' | asset_url}}">
</div>
<div class="captionInner">
<h2>Introducing the 10,000 <br>Creators Project by Slow Bazaar </h2>
</div>

</div>
<!-- custom banner -->
  <div class="page-width">
   <div class="creatorContainer">
     {% render 'breadcrumbs' %}  
     
  <h1 class="page-title">{{page.title | escape}}</h1>
    {{ page.content }}
     <select id="location" name="location" >
     
     {% for link in linklist.links %} 
     
     {% assign link_item = link.object %} 
       {% if link_item.metafields.custom.location != "" %}
       <option >{{ link_item.metafields.custom.location }}</option>
       {%endif%}
     
     {% endfor %}
     </select>
    {% include 'collection-within-collection' %}
</div>
</div>
</div>

<script>

  jQuery('select[name="location"]').change(function()
    {
        var option = jQuery(this).find('option:selected').val();
        //var color = option.replace(" ", "_");            
        alert(option);

        
    });
</script>