{% assign linklist = linklists["categories"] %}
{% assign collections_per_row = settings.frontpage_collections_per_row %}

<div class="categoriesContainer">
  <div class="page-width">
  <h1 class="title title--primary">{{page.title | escape}}</h1>
    {{ page.content }}
    {% include 'collection-categories' %}
</div>
</div>